.progress-ring__circle {
    animation: spinner 5s forwards;
    animation-play-state: paused;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

@keyframes spinner {
    0% {
        stroke-dashoffset: 360;
        transform: rotate(-90deg);
    }
    50% {
        stroke-dashoffset: 180;
        transform: rotate(0deg);
    }
    100% {
        stroke-dashoffset: 0;
        transform: rotate(270deg);
    }
}

.progress-ring__circle-paused {
    animation-play-state: paused;
}

.progress-ring__circle-running {
    animation-play-state: running;
}

.spinner-section{
    margin: 0 auto;
    padding: 2em 1em;
    width: fit-content;
    width: -moz-fit-content;
}

.percentage-sign{
    fill: lightgrey;
    font-size: 14px;
}
