button{
    display: block;
    text-align: center;
    border-radius: 2.5em;
    padding: 0.5em 4em;
    color: rgb(52,117,190);
    box-shadow: none;
    border: 1px solid rgb(52,117,190);
    font-weight: 500;
    font-size: .9em;
    margin: 0 auto;
    background: white;
}