.container-information{
    text-align: center;
    font-size: 12px;
    line-height: .8em;
    margin-bottom: 2em;
    padding: 1em;
}

.container-information a{
    /* color: rgb(55,149,255); */
    color: rgb(52,117,190);
}

.container-information p{
    color: #6a6d70;
}

.transferring-title{
    font-weight: 600;
}